rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read and write data, and unauthenticated users to read settings/products or create customer orders if needed
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
